* {
	margin: 0;
}

/* всплывающие окна */
.popup {
	/*position: absolute;*/
	z-index: 3;
	width: 80%;	
	margin: 10px auto;
	padding: 10px;
	text-align: center;	
	border: 1px solid lightgreen;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}

.hidden {
	display: none;
}

/* фон игрового поля, тетрадный лист */
.battlefield {
	/* делится на 30px + 2px закрыть границу */
	width: 782px; 
	height: 482px; 
	position: relative; 
	margin: 0 auto;
	background: url('img/grid.png') repeat;
	/*z-index: -6*/
}

/* поле для морского боя */
.field-user {
	width: 330px;
	height: 330px;
	position: relative;
	top: 34px;
	left: 34px;
	background: url('img/playfield.png') no-repeat;
	/*z-index: -2;*/
}

.field-pc {
	width: 330px;
	height: 330px;
	position: relative;
	top: -296px;
	left: 424px;
	background: url('img/playfield.png') no-repeat;
}

/* счетчики живых кораблей */
.one,
.two,
.three,
.four {
	width: 30px;
	height: 30px;
	background: url('img/sprite.png');
	position: relative;	
} 

.one {
	top: 357px;
	left: 87px;
	background-position: 0 -60px;
}

.one p,
.two p,
.three p,
.four p {
	position: absolute;
	top: 3px;
	left: -15px;
	font-size: 20px;
}

.two {
	top: 327px;
	left: 147px;
	background-position: -60px -60px;
}

.three {
	top: 297px;
	left: 207px; 
	background-position: -120px -60px;
}

.four {
	top: 267px;
	left: 267px;
	background-position: -180px -60px;
}

.dot {
	width: 30px;
	height: 30px;
	background: url('img/sprite.png');
	background-position: -240px -120px;
	position: absolute;	
	/*z-index: 10;*/
}

.name-user, 
.name-pc {
	position: absolute;
	top: 5px;
}

.name-user {
	left: 185px;	
}

.name-pc {
	left: 575px;	
}

.ship {
	/*background: url('img/sprite.png');*/
	position: absolute;	
	/*z-index: -3;*/
}

.knock {
	width: 30px;
	height: 30px;
	position: absolute;	
	background: url('img/sprite.png');
	background-position: -300px -120px;

} 
.shade {
	width: 30px;
	height: 30px;
	position: absolute;	
	background: url('img/sprite.png');
	background-position: -360px -120px;
} 